{% extends 'base.html' %} 

{% block body %} 
<div class="container-fluid full-width" style="padding-right: 200px; padding-left: 200px; padding-top: 200px;">
    
    <div class="row"> <!-- Intro banner -->
        <div class="col-sm-12 d-flex justify-content-center text-align-center" style="padding-top: 150px">
            <h1 class="text-center">Do you know who you're really talking to online? <br> Learn more about the dangers of Romance Scammers</h1>
            <!--  <spans style="color: var(--lightHighlight1);">Vulnerabilities</spans> -->
        </div>
    </div>

    <div class="row" style="padding-top: 40px"> <!-- Main content start -->
        <div class="col-sm-12">
            <img src="/static/media/BrokenHeartBlack.png" alt="Logo" width="200" class="mx-auto d-block">
        </div>
    </div>

    <div class="row" style="padding-top: 80px"> <!-- Main content start -->
        <div class="col-sm-12 d-flex justify-content-center text-align-center" style="padding-top: 80px;">
            <p>This site explores romance fraud: what it is, who it affects and how the scammers go about it.</p>
        </div>
    </div>

    <div class="row" style="padding-top: 30px">
        <div class="col-sm-6">
            <h2>What is Romance Fraud?</h2>
            <p>Romance fraud is an example of a consumer fraud scam. It is similar to your usual scams where the scammer will contact the victim by email, phone, social media etc. In these usual consumer fraud scams the scammer may offer you a get rich quick scheme or contact you with any scenario that warrants a response; often with the goal of scamming you financially. Romance scams differ from this as instead of offering financial motivation, such as getting rich quick, they are offering the victim something more meaningful. Romance fraud scammers are often propositioning their victims with the promise of a relationship, love and a life partner. Romance frauds impacts are much more personal than the usual consumer fraud scam as they can change the victims outlook on life, love and relationships forever. </p>
        </div>
        <div class="col-sm-6">
            <h2>What Impact Does Romance Fraud Have?</h2>
            <p>The average loss for a victim of romance fraud last year was £8,234 (a decrease from £8,655 the year before) according to Lloyds Bank. Victims ages 65 to 74 are the most likely to be tricked into sending money to a scammer with the number of victims in this age group increasing by almost 75% last year according to Lloyds Bank and the average amount lost being over £12,000. Romance leaves victims impacted in more ways than finanically. Usually victims are left with emotional trauma. Victims do not want to come to terms with the fact that they have been scammed and that the relationship that may have lasted months or even years was not real.</p>
        </div>
        
    </div>

    <div class="row" style="padding-top: 30px">
        <div class="col-sm-6">
            <h2>How Common is Romance Fraud?</h2>
            <p>The number of people falling victim to romance fraud increased by more than 30% last year according to Lloyds Bank. This is due to an increase in the use of dating apps, enhanced by the Covid-19 pandemic. </p>
        </div>
        <div class="col-sm-6">
            <h2>How Does This Affect Me?</h2>
            <p>Romance fraud can affect anyone. Romance scammers use everyday social media apps such as instagram and facebook but more commonly dating apps such as tinder, bumble and grindr. Scammers are increasingly harder to spot as they will build realistic profiles usually containing pictures of conventially attractive people with proffesional jobs that would be appealing to most people.</p>
        </div>
    </div>

</div>

<div class="container-fluid full-width" style="padding-right: 500px; padding-left: 500px;">

    <div class="row" style="padding-top: 80px">
        <div class="col-sm-12 d-flex justify-content-center text-align-center">
            <h2>How Do I Protect Myself?</h2>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-12">
            <p>You can protect yourself by spotting <spans style="color: var(--lightHighlight1);">red flags</spans> raised by scammers. These can be:</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">  <!-- Red flags -->
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>#1</h2>
        </div>
        <div class="col-sm-11">
            <p>Having a lack of information on their profile in dating apps</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>#2</h2>
        </div>
        <div class="col-sm-11">
            <p>Appearing to be the perfect match for you, too good to be true</p>
        </div>
    </div>
    
    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>#3</h2>
        </div>
        <div class="col-sm-11">
            <p>Having profile pictures that look professionally taken</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>#4</h2>
        </div>
        <div class="col-sm-11">
            <p>Messaging too much and too often</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>#5</h2>
        </div>
        <div class="col-sm-11">
            <p>Announcing strong feelings for you very quickly</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>#6</h2>
        </div>
        <div class="col-sm-11">
            <p>Wanting to move the conversation to a different platform very quickly</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>#7</h2>
        </div>
        <div class="col-sm-11">
            <p>Coming up with excuses for why they cant show you their face or video / phone call</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>#8</h2>
        </div>
        <div class="col-sm-11">
            <p>Not having any other social media accounts</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px"> 
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>#9</h2>
        </div>
        <div class="col-sm-11">
            <p>Requesting any kind of finacial support no matter the story or how small the amount may be</p>
        </div>
    </div>

</div>

<div class="container-fluid full-width" style="padding-right: 200px; padding-left: 200px;">
    <div class="row" style="padding-top: 80px">
        <div class="col-sm-12 d-flex justify-content-center text-align-center">
            <h1>Mary: A Case Study</h1>
        </div>
    </div>
    
    <div class="row" style="padding-top: 30px">
        <div class="col-sm-12">
            <h2>Mary's Story</h2>
            <p>Mary joined a Facebook group for fans of a popular film, interacting with other members and leaving comments on their posts. Not long after she’d joined, Mary received a private message from another member of the group, called Bill. They chatted on Facebook Messenger for a while, until Bill convinced Mary to move the conversation to WhatsApp, where their conversations became less about the film and more about their personal lives. 
                <br><br><b><spans style="color: var(--lightHighlight1);">Red flag #6</spans> Wanting to move the conversation to a different platform very quickly</b>
                <br><br>Once the conversation had moved to WhatsApp, Bill and Mary were in contact daily, exchanging dozens of messages and the occasional phone call although never any video calls. Bill sent Mary photos of himself in different places, and some with a person he said was his daughter. 
                <br><br><b><spans style="color: var(--lightHighlight1);">Red flag #4</spans> Messaging too much and too often</b>
                <br><br>After a time, Bill told Mary his bank account had been blocked, and he had no access to money. Bill sent Mary photos of apparent bank statements, showing £1 million was pending release, and others showing large savings balances. 
                <br><br><b><spans style="color: var(--lightHighlight1);">Red flag #9</spans> Requesting any kind of financial support no matter the story or how small the amount may be</b>
                <br><br>Mary agreed to help out, by buying gift cards and sending small amounts of money. Then, she got a message from Bill saying his daughter had been taken ill, with a blood transfusion and kidneytransplant required.
                <br><br>Bill sent photos showing his daughter lying in a hospital bed and Mary received a message from a person who said they were the doctor responsible for Bill’s daughter’s care. Bill said he too was a  doctor, but was currently in Syria, where he’d been deployed as part of his role in the US Army.
                <br><br>Bill told Mary his daughter’s hospital bills needed to be paid and asked whether she could help, promising to refund her when his funds were released.
                <br><br>Mary agreed to help and was told to send the money to a lady named Sheila, who worked in the administration department of a Turkish hospital. Bill told Mary this was because the hospital had aUK bank account and would be able to facilitate the payments. Mary sent some money to Sheila, but then told Bill she couldn’t afford to send any more.
                <br><br>At this point, Bill suggested Mary take out a loan. Mary was nervous about this and mentioned it to a family member and it was at this point the scam became apparent. No loan was taken out and Mary’s daughter-in-law managed to convince her that she had been the victim of a romance scam from the start.
                <br><br><b>Mary’s total loss was £14,500.</b>
            </p>
        </div>
    </div>
</div>

<div class="container-fluid full-width" style="padding-right: 300px; padding-left: 300px;">

    <div class="row" style="padding-top: 80px">  <!-- Romance fraud journey -->
        <div class="col-sm-12 d-flex justify-content-center text-align-center">
            <h2>The Romance Fraud Journey</h2>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">  
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>1</h2>
        </div>
        <div class="col-sm-11">
            <p>The scammer targets the victim through a social media platform or dating app.</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>2</h2>
        </div>
        <div class="col-sm-11">
            <p>The scammer will come across as a genuine, caring and attentive person. </p>
        </div>
    </div>
    
    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>3</h2>
        </div>
        <div class="col-sm-11">
            <p>Scammers will often try to move the victim to another platform as soon as possible.</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>4</h2>
        </div>
        <div class="col-sm-11">
            <p>Scammers will message the victim back and forth every day for weeks or months in order to build trust and create the illusion of the fake relationship. The scammer will often admit to having strong feelings for the victims quite quickly.</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>5</h2>
        </div>
        <div class="col-sm-11">
            <p>This is usually when more red flags begin to show. The scammer will usually come up with excuses as to why they cannot meet, send pictures of their face and video call etc.</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>6</h2>
        </div>
        <div class="col-sm-11">
            <p>Once the scammer has the victim hooked they will start to introduce scenarios in order to get money out of the victim. These can be stories about family, legal, business, financial or medical problems that seem to have no way out. Scammers will pretend to be reluctant to accept help at first.</p>
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-1 d-flex justify-content-end">
            <h2>7</h2>
        </div>
        <div class="col-sm-11">
            <p>The scammers will normally ask for small amounts of money to start with but over time these amounts become larger. Scammers will also often send gifts to the victim to keep up the illusion that the relationship is a two way street.</p>
        </div>
    </div>
</div>

<div class="container-fluid full-width" style="padding-right: 200px; padding-left: 200px;">
    <div class="row" style="padding-top: 80px">
        <div class="col-sm-12 d-flex justify-content-center text-align-center">
            <h1>Statistics</h1>
        </div>
    </div>
    
    <div class="row" style="padding-top: 30px">
        <div class="col-sm-12">
            <h2>Info</h2>
            <p></p>
        </div>
    </div>
</div>





<br><br><br><br><br><br>
{% endblock %} 